*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body,input {
    font-family: 'Roboto', sans-serif;
}

/* UTILITà */
.row{
    height: 100%;
    width: 100%;
    display: flex;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* UTILITà */


/* ELEMENTI LAYOUT */
.sidebar{
    width: 200px;
    height: calc(100vh - 90px);
    background-color: rgb(26, 26, 26);
    position: fixed;
    top: 0;
    left: 0;
}

.top-bar{
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba(63, 63, 63, 0.679);
    position: fixed;
    top:0;
}
.main-content{
    width: calc(100% - 200px);
    position: absolute;
    z-index: -1;
    top:0;
    right:0;
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: aqua;
}

.bottom-bar{
    width: 100%;
    height: 90px;
    background-color:#282828;
    position: fixed;
    bottom:0px;
}
/* FINE ELEMENTI LAYOUT */




/* TOP-SIDEBAR */
.top-sidebar{
    width: 100%;
    border: 1px dashed rgb(255, 255, 255);

}

.logo{
    width: calc(100% - 20px);
    margin: 10px;
    border: 1px dashed rgb(255, 255, 255);
}
.logo .logo-big{
    width: 80%;
}

.logo .logo-small{
    display: none;
}

.menu{
    width: calc(100% - 20px);
    margin: 10px;
    border: 1px dashed rgb(109, 109, 109);
}

.menu ul li a{
    color: rgb(139, 139, 139);
    font-size: 14px;
}

.menu ul li a:hover{
    color:white;
}

.menu ul li{
    display: flex;
    align-items: center;
}

.menu ul li img{
    width: 20%;
    filter: brightness(70%);
}

.playlist{
    width: calc(100% - 20px);
    margin: 10px;
    border: 1px dashed rgb(255, 255, 255);
}

.playlist span{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    display: block;
}
.add-playlist{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.add-playlist .icon-plus{
    font-size: 40px;
    color: rgb(8, 8, 8);
    padding: 0px 10px 0px 10px ;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);

}
.add-playlist a:last-child{
    color: gray;
}
.add-playlist a:last-child:hover{
    color: white;
}

.wrap-name-playlist{
    width: 100%;
    height: 100px;
}

.name-playlist li{
    line-height: 30px;
    font-size: 14px;
    color: gray;
}
.name-playlist li:hover{
    color: white;
}

.wrap-name-playlist{
    height: 200px;
    overflow-y: auto;
}

/* .wrap-name-playlist::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 10px;
} */


/* FINE TOP-SIDEBAR */


/* BOTTOM-SIDEBAR */
.bottom-sidebar{
    min-width: 200px;
    /* margin: 10px; */
    min-height: 100px;
    background-color: rgb(0, 149, 255);
    border: 1px dashed rgb(255, 255, 255);
    position: fixed;
    bottom: 90px;
}

.download{
    width: calc(100% - 20px);
    margin: 10px;
    min-height: 40px;
    border: 1px dashed rgb(255, 255, 255);
}

.username{
    width: calc(100% - 20px);
    margin: 10px;
    min-height: 40px;
    border: 1px dashed rgb(255, 255, 255);
}
/* FINE BOTTOM-SIDEBAR */

/****************** MAIN **************/
/* TOP-BAR */

.top-bar input{
    position: absolute;
    right: 50px;
    padding:10px 50px;
    top:50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}
.top-bar input:hover{
    scale: 1.2;
}

/* FINe TOP-BAR */

/* CONTENUTI */
/* Menu contenuti */
.content-albums ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:50px;
}
.content-albums ul a{
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 10px;
    color: gray;
}

.content-albums ul a:hover{
}

/* Fine Menu contenuti */

.content-albums .container {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 90, 90);
}

/* Recenlty Played */
.content-albums .played, .jhon-doe{
    margin-bottom: 30px;
}


.col-16{
    width: calc(100%/6 - 20px);
    margin: 10px;
    border: 2px dashed black;
    display: flex;
}
.col-16 img {
    width: 100%;
}
/* FINE CONTENUTI */
/***************** FINE MAIN ***************/


/* BOTTOM BAR */
.col-33{
    width: calc(100%/3 - 20px);
    margin: 10px;
    min-height: 100%;
    border: 1px dashed rgb(132, 132, 132);

}
/* Col-left */
.bottom-bar .song{
    width: 100%;
    display: flex;
    align-items: center;
}

.bottom-bar .song img{
    width: 50px;
}

.song ul li{
    margin-left:10px;
    margin-right: 15px;
    color: rgb(104, 104, 104);
    font-size: 11px
}

.song #name-album{
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.song .icons button{
    border: none;
    font-size: 17px;
    color: gray;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
}

.song .icons button:hover i{
    color: white;
}
/* Col Center - Audio Player */
.audio-player{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Col Up Player*/
.audio-player .col-up, .col-down{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player .col-up button{
    border: none;
    font-size: 14px;
    color: rgb(224, 224, 224);
    background-color: rgba(0, 0, 0, 0);
    margin-right: 10px;
    margin-left: 10px;
}
.button-play i{
    font-size: 25px;
}
.button-play:hover i{
    transform: scale(1.3);
}
/* Col Down Player */



/* FINE Col Center - Audio Player */

/*  Col right */

.volume{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.volume button{
    border: none;
    font-size: 10px;
    color: rgb(224, 224, 224);
    background-color: rgba(0, 0, 0, 0);
    padding: 8px;
}

.col-down #line-player{
    width: 300px; 
}

.line-volume{
    width: 90px;
    height: 3px;
    border-radius: 4px;
    background: rgb(124, 124, 124);
}

.line-volume .line-inside{
    height: 3px;
    width: 20%;
    border-radius: 4px;
    background-color: white;
}
.line-volume:hover {
    cursor: pointer;
}
.line-volume:hover .line-inside{
    background-color: rgb(57, 255, 3);
  
}

.line-volume:hover .pallino{
    visibility: visible;
    display: block;
}
.pallino {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    float: right;
    position: relative;
    bottom: 3px;
    visibility: hidden;
    display: none;
}
/* FINE BOTTOM BAR */



/* SCREEN MD */
@media screen and (max-width:1200px){
    .row {
        flex-wrap: wrap;;
    }
    .col-16{
        width: calc(100%/4 - 20px);
    }
}

/* SCREEN S */
@media screen and (max-width:630px){

    .col-16{
        width: calc(100%/2 - 20px);
    }

}


/* SCREEN XS */
@media screen and (max-width:500px){

    .row {
        flex-wrap: wrap;
    }
    /* Sidebar */
    .sidebar{
        width: 70px;
    }
    .logo .logo-small{
        display: block;
        transform: scale(0.8);
    }
    .logo .logo-big{
        display: none;
    }
    .sidebar .playlist {
        display: none;
    }

    .top-sidebar .menu a{
        display: none;
    }
    .top-sidebar .menu img{
        width: 100%;
        transform: scale(0.7);
    }

    /* Fine Sidebar */

    .top-bar{
        width: calc(100% - 70px);
    }
    .main-content{
        width: calc(100% - 70px);
    }
    .col-16{
        width: calc(100%/2 - 20px);
    }
    .bottom-sidebar{
        min-width: 70px;

    }



}


/* HEIGHT- 350  */
@media screen and (max-height:350px){


}
